@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.animation-arrow {
  animation: leftRight 4s linear infinite;
}

@keyframes leftRight {
  0% {
    right: -90%;
  }

  60% {
    right: -65%;
  }

  100% {
    right: -90%
  }
}

.animate-left-to-right {
  animation: animateArrow 4s linear infinite;
}

@keyframes animateArrow {
  0% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: scroll-left 20s linear infinite;
}